@import "./variables.css";

.nav {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.nav__item {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    padding-left: 10rem;
    padding-right: 10rem;
}

.nav__items {
    list-style-type: none;
    padding: 2rem;
    font-size: 22px;
    color: white;
    border: 1px #35444F solid;
    border-left-color: white;
    border-right-color: white;
    font-family: "T-Roboto";
    font-style: normal;
}   

.container {
    width: 1280px;  
}

.item__hover:hover {
    transition: 300ms;
    background-color: #222F3A;
}

.item__hover {
    border: none;
}

.logo-wrapper {
    display: left;
    padding-left: 2rem;
    justify-content: center;
    font-size: 80px;
}

.logo__link {
    text-decoration: none;
    color: #000000;
}

.color__text {
 color: #4BCAFF;
}

.aside__container {
    width: 1280px;
    display: flex;
    flex-direction: column;
    
}

.asaide__menu {
    display: flex;
    padding-left: 2rem;
    position: absolute;
}

.aside__link {
    list-style-type: none; 
    padding: 1.2rem; 
    font-size: 27px;
}

.aside__item {
    border: 1px #000000 solid;
    width: 344px;
    list-style-type: none; 
    font-size: 27px;
}

.aside__link-hover {
    margin: 1rem;
}

.aside__hover:hover {
    display: flex;
    transition: 300ms;
    background-color: #adadad;
    padding: 1rem; 
    font-size: 27px;
    justify-content: left;
    padding-left: 2rem;
}

.main-image {
    padding: 5rem;
    width: 70%;
    margin-left: 8rem;
    margin-top: 2rem;
  
}

.main-image:hover {
    transform: scale(1.3);
    transition: 300ms;
}

.main-image-wrapper {
    margin-left: 27rem;
    width: 815px;
    border: 1px black solid;
}

.mait__texts {
    text-align: right;
}

.main__class {
    display: inline-block;
    text-align: left; 
    font-size: 20px;
    max-width: 70%;
    font-weight: 40;
    padding: 1rem;
}

.footer__nav {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.footer__list {
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
}

.footer__link {
    list-style-type: none; 
    padding: 1rem;
    padding-left: 2rem;
    font-size: 25px;
}

.footer__link-hover {
    list-style-type: none; 
    display: flex;
    padding: 1rem; 
    font-size: 25px;
    justify-content: left;
    padding-left: 2rem;
}

.footer__link-hover:hover {
    transition: 200ms;
    border-bottom: 1px solid black; 
    cursor: pointer;
    color: #3181A6;
}

.footer__copiright {
    display: flex;
    font-size: 28px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    margin-left: 3rem;
}