* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "R-Roboto";
}

@font-face {
    font-family: "T-Roboto";
    src: url(/homework_4/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "R-Roboto";
    src: url(/homework_4/fonts/Roboto-Regular.ttf);
}